body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.left-box {
    width: 60%;
}

/* Header text */
h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

/* Google box container */
.gmail-box {
    border: 1px solid #dcdcdc;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    margin-bottom: 40px;
}

/* === GOOGLE BUTTON === */
.gmail-btn {
    width: 100%;
    padding: 22px;
    background: #f7f7f7;
    border: 3px solid #dadada;
    border-radius: 28px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    color: #000;
    text-decoration: none;
    transition: all 0.25s ease;
}

/* Hover effect */
.gmail-btn:hover {
    background: #ececec;
    transform: translateY(-2px);
}

/* Divider */
.divider {
    text-align: center;
    margin: 30px 0;
}

/* Input boxes */
label {
    font-size: 15px;
}

.input-box {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    margin-bottom: 22px;
    border-radius: 8px;
    font-size: 15px;
}

/* Forgot password */
.forgot {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 14px;
    text-decoration: none;
    color: #00796b;
    transition: 0.25s;
}

.forgot:hover {
    color: #004f46;
    text-decoration: underline;
}

/* Log In button */
.login-btn {
    width: 100%;
    padding: 16px;
    background: #006e63;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.25s ease;
}
.login-btn:hover{
        transition: 0.25s ease;
        transform: translateY(-2px);
}
.sign{
    color: #00594f;
}
.sign:hover{
     background-color:#00000030;
}
/* Hover effect */
.login-btn:hover {
    background: #00594f;
    transform: translateY(-2px);
}

/* Sign up text */
.signup-text {
    font-size: 14px;
}
