body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #fdfdfd;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* LEFT SIDE */
.left-box {
    width: 50%;
    padding: 60px;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

/* Gmail login box */
.gmail-box {
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 40px;
}

.gmail-btn {
    width: 100%;
    padding: 12px;
    background: #f7f7f7;
    border: 2px solid #dadada;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* OR Divider */
.divider {
    text-align: center;
    margin: 30px 0;
    font-weight: 500;
}

/* Inputs */
label {
    font-size: 14px;
}

.input-box {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 6px;
}

.forgot {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 25px;
    color: #00796b;
}

/* Login button */
.login-btn {
    width: 100%;
    padding: 15px;
    background: #006e63;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.signup-text {
    font-size: 14px;
}

/* RIGHT SIDE */
.right-box {
    width: 50%;
    background: #eef5f0;
    padding: 70px;
}

.right-box h2 {
    font-size: 38px;
    color: #004b3a;
}

/* Feature Row */
.feature {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    gap: 20px;
}

.feature img {
    width: 45px;
    height: 45px;
}

.feature h3 {
    margin: 0;
    font-size: 20px;
}

.feature p {
    margin-top: 6px;
    color: #444;
}
