* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #8AC3AE;
}
.logo span {
    color: #6BBF8A;
}

.nav-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #6BBF8A;
    transform: scale(1.08);
}

.nav-btn {
    padding: 10px 20px;
    background: #6BBF8A;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.nav-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

/* HERO SECTION */
.hero {
    margin-top: 100px;
    display: flex;
    padding: 60px;
    background: #E2EFE8;
    height: 90vh;
}

.hero-content {
    flex: 1;
}

/* Welcome tag */
.tag {
    border: 2px solid #8C71F5;
    display: inline-block;
    padding: 8px 18px;
    border-radius: 6px;
    margin-bottom: 25px;
    color: #444;
    animation: fadeIn 1s ease-in-out;
}

/* Heading */
.hero-content h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #6BBF8A;
}

/* Subtitle */
.subtitle {
    color: #555;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5;
}

/* BUTTONS */
.hero-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}

.primary-btn {
    background: #6BBF8A;
    color: white;
    border: none;
    padding: 14px 26px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.primary-btn:hover {
    transform: scale(1.06);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.secondary-btn {
    background: white;
    border: 2px solid #6BBF8A;
    color: #6BBF8A;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.secondary-btn:hover {
    transform: scale(1.06);
    box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

/* Stats */
.stats {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
.stats h3 {
    color: #6BBF8A;
    font-size: 28px;
}
.stats p {
    font-size: 14px;
    color: #444;
}

/* Right side background */
.hero-bg {
    flex: 1;
    background-image: url('https://i.ibb.co/RCYTrS5/medical-bg.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

/* Simple Fade Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}